html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1;
  line-height: 1.6;
  color: #414141;
  background-color: rgb(240, 243, 244);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::selection {
  background: #ff5e57;
  color: white;
}

.App-header {
  text-align: center;
  margin-bottom: 40px;
}
/* POKEMON 
=========================================== */

.pokemon-container {
  margin: auto;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  p {
    margin: 0;
  }

  .pokemon {
    display: flex;
    flex-direction: column;
    width: 49%;
    background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 238, 243);
    border-radius: 6px;
    box-shadow: rgba(52, 61, 68, 0.1) 0px 1px 2px;
    overflow: hidden;
    margin-bottom: 20px;

    p {
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px -10px;
      transition: all 400ms ease 0s;
    }
  }

  .pokemon-name {
    background-color: #f83f3f;
    text-align: center;
    padding: 10px;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      letter-spacing: 4px;
      font-size: 3rem;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  .pokemon-image {
    padding: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .pokemon-fast-attacks {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;

    span {
      width: 30%;
      background-color: #20aff1;
      border-radius: 3px;
      padding: 7px;
      font-weight: 700;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      margin-bottom: 10px;
      word-wrap: break-word;
      text-align: center;
      line-height: 15px;
    }
  }

  .pokemon-special-attacks {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;

    span {
      width: 30%;
      background-color: #c9bd17;
      border-radius: 3px;
      padding: 7px;
      font-weight: 700;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      margin-bottom: 10px;
      word-wrap: break-word;
      text-align: center;
      line-height: 15px;
    }
  }
}

@media (max-width: 800px) {
  .container .pokemon {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container .pokemon-attacks {
    flex-wrap: wrap;
  }

  .container .pokemon-attacks span,
  .container .pokemon {
    width: 100%;
  }
}
